.title {
    font-weight: bold;
}

.name {
    margin-top: 30px;
    font-size: initial;
}

.mail {
    margin-top: 10px;
}

.inputname {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid rgb(199, 196, 196);
    border-radius: 7px;
}

.inputmail {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid rgb(199, 196, 196);
    border-radius: 7px;
}

.checkbox1{
    margin-bottom: 10px;
}
.part1 {
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 8px;
    border: 1px solid rgb(199, 196, 196);
}
.one {
    margin-top: 10px ;
}

.button{
    color: #6C63FF;
    margin-top: 20px;
    border: 15px solid #008060;
    border-radius: 7px;
    background: #008060;
    color: white;
}

.button:hover {
    
    color: white;
}


